<div class="row">
  <div class="col-lg-6 col-lg-push-3 col-md-12">

    <section class="box-typical">
      <%= link_to profiles_path do %>
          <header class="box-typical-header-sm">
            Back to boosters
            <div class="slider-arrs">
              <button type="button" class="btn">
                <i class="font-icon font-icon-arrow-left"></i>
              </button>
            </div>
          </header>
      <% end %>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">
        Go to next booster
        <div class="slider-arrs">
          <button type="button" class="posts-slider-prev">
            <a href="/profiles/wessex"><i class="font-icon font-icon-arrow-left"></i></a>
          </button>
          <button type="button" class="posts-slider-next">
            <a href="/profiles/verstappen"><i class="font-icon font-icon-arrow-right"></i></a>
          </button>
        </div>
      </header>
    </section><!--.box-typical-->

    <section class="box-typical">
      <header class="box-typical-header-sm">Background</header>
      <article class="profile-info-item">
        <header class="profile-info-item-header">
          <i class="font-icon font-icon-notebook-bird"></i>
          Summary
        </header>
        <div class="text-block text-block-typical">
          <p>
            HOLA! If you need a boost in LAN, I am your girl!
          </p>
          <p>
            I am 21 years young and have enough time to boost you to whatever elo you like! When I’m playing, I’m so fluffy they all gonna die ^^
          </p>
        </div>
      </article><!--.profile-info-item-->
    </section><!--.box-typical-->
  </div><!--.col- -->

  <div class="col-lg-3 col-lg-pull-6 col-md-6 col-sm-6">
    <section class="box-typical">
      <div class="profile-card">
        <div class="profile-card-photo">
          <img src="/img/booster5.jpg" alt=""/>
        </div>
        <div class="profile-card-name">El Pomponero</div>
        <div class="profile-card-status">Challenger</div>
        <div class="profile-card-location">LAN Server</div>
        <%= link_to elo_boost_path do %>
            <button type="button" class="btn btn-rounded">Boost me</button>
        <% end %>
      </div><!--.profile-card-->

      <div class="profile-statistic tbl">
        <div class="tbl-row">
          <div class="tbl-cell">
            <b>2.7k</b>
            Wins
          </div>
          <div class="tbl-cell">
            <b>268</b>
            Divisions
          </div>
        </div>
      </div>

    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Most played champions</header>
      <article class="profile-info-item">
        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">722</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Annie</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">599</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Cassiopeia</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">222</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Katarina</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">182</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Ashe</div>
          </div>
        </section><!--.skill-item-->
      </article><!--.profile-info-item-->
    </section>
  </div><!--.col- -->

  <div class="col-lg-3 col-md-6 col-sm-6">
    <section class="box-typical">
      <header class="box-typical-header-sm">People also viewed</header>
      <div class="friends-list stripped">
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/efefrompower">
                  <img src="/img/booster7.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/efefrompower">Efe from Power</a></p>
                <p class="user-card-row-status">Challenger - NA </p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/wessex">
                  <img src="/img/booster4.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/wessex">WesseX</a></p>
                <p class="user-card-row-status">Challenger - EUNE</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/joosta">
                  <img src="/img/booster3.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/joosta">Joosta</a></p>
                <p class="user-card-row-status">Diamond I - NA</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/kerstman">
                  <img src="/img/booster8.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/kerstman">Kerstman</a></p>
                <p class="user-card-row-status">Diamond I - EUW</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/sailor">
                  <img src="/img/booster2.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/sailor">Sailor</a></p>
                <p class="user-card-row-status">Challenger - EUW</a></p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Skills</header>
      <article class="profile-info-item">
        <div class="profile-interests">
          <a href="#" class="label label-light-grey">Midlane</a>
        </div>
      </article><!--.profile-info-item-->
    </section>
  </div><!--.col- -->
</div><!--.row-->