<div class="row">
  <div class="col-lg-6 col-lg-push-3 col-md-12">

    <section class="box-typical">
      <%= link_to boosters_path do %>
          <header class="box-typical-header-sm">
            Back to boosters
            <div class="slider-arrs">
              <button type="button" class="btn">
                <i class="font-icon font-icon-arrow-left"></i>
              </button>
            </div>
          </header>
      <% end %>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">
        Go to next booster
        <div class="slider-arrs">
          <button type="button" class="posts-slider-prev">
            <a href="/profiles/sailor"><i class="font-icon font-icon-arrow-left"></i></a>
          </button>
          <button type="button" class="posts-slider-next">
            <a href="/profiles/wessex"><i class="font-icon font-icon-arrow-right"></i></a>
          </button>
        </div>
      </header>
    </section><!--.box-typical-->

    <section class="box-typical">
      <header class="box-typical-header-sm">Background</header>
      <article class="profile-info-item">
        <header class="profile-info-item-header">
          <i class="font-icon font-icon-notebook-bird"></i>
          Summary
        </header>
        <div class="text-block text-block-typical">
          <p>
            Hello, my name is Joosta. I am a LOL player in NA server. I boost people whenever I get a go from elo-boost.io. I am known to do boosting very fast as I play this game day and night.
          <p>
            I finish 1 or 2 divisions of low elo boosting in a day and lower amounts the higher the division gets. After I get the GO sign from elo boost io, I start immediately and do my utmost best to get you to your desired division.
          </p>
        </div>
      </article><!--.profile-info-item-->
    </section><!--.box-typical-->
  </div><!--.col- -->

  <div class="col-lg-3 col-lg-pull-6 col-md-6 col-sm-6">
    <section class="box-typical">
      <div class="profile-card">
        <div class="profile-card-photo">
          <img src="/img/booster3.jpg" alt=""/>
        </div>
        <div class="profile-card-name">Joosta</div>
        <div class="profile-card-status">Diamond I</div>
        <div class="profile-card-location">NA Server</div>
        <%= link_to elo_boost_path do %>
            <button type="button" class="btn btn-rounded">Boost me</button>
        <% end %>
      </div><!--.profile-card-->

      <div class="profile-statistic tbl">
        <div class="tbl-row">
          <div class="tbl-cell">
            <b>1.4k</b>
            Wins
          </div>
          <div class="tbl-cell">
            <b>187</b>
            Divisions
          </div>
        </div>
      </div>

    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Most played champions</header>
      <article class="profile-info-item">
        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">543</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Elise</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">432</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Caitlyn</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">273</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Gnar</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">265</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Kalista</div>
          </div>
        </section><!--.skill-item-->
      </article><!--.profile-info-item-->
    </section>


  </div><!--.col- -->

  <div class="col-lg-3 col-md-6 col-sm-6">
    <section class="box-typical">
      <header class="box-typical-header-sm">People also viewed</header>
      <div class="friends-list stripped">
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster5.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/elpomponero">El Pomponero</a></p>
                <p class="user-card-row-status">Challenger - LAN </p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster4.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/wessex">WesseX</a></p>
                <p class="user-card-row-status">Challenger - EUNE</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster3.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/joosta">Joosta</a></p>
                <p class="user-card-row-status">Diamond I - NA</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster8.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/kerstman">Kerstman</a></p>
                <p class="user-card-row-status">Diamond I - EUW</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster1.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/sinterklaas">Sinterklaas</a></p>
                <p class="user-card-row-status">Challenger - EUW</a></p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Skills</header>
      <article class="profile-info-item">
        <div class="profile-interests">
          <a href="#" class="label label-light-grey">ADC</a>
          <a href="#" class="label label-light-grey">Jungle</a>
          <a href="#" class="label label-light-grey">Fast push</a>
          <a href="#" class="label label-light-grey">Securing baron</a>
          <a href="#" class="label label-light-grey">Teamwork</a>
        </div>
      </article><!--.profile-info-item-->
    </section>
  </div><!--.col- -->
</div><!--.row-->