<div class="row">
  <div class="col-lg-6 col-lg-push-3 col-md-12">

    <section class="box-typical">
      <%= link_to profiles_path do %>
      <header class="box-typical-header-sm">
        Back to boosters
        <div class="slider-arrs">
          <button type="button" class="btn">
            <i class="font-icon font-icon-arrow-left"></i>
          </button>
        </div>
      </header>
    <% end %>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">
        Go to next booster
        <div class="slider-arrs">
          <button type="button" class="posts-slider-prev">
            <i class="font-icon font-icon-arrow-left"></i>
          </button>
          <button type="button" class="posts-slider-next">
            <a href="/profiles/sailor"><i class="font-icon font-icon-arrow-right"></i></a>
          </button>
        </div>
      </header>
    </section><!--.box-typical-->

    <section class="box-typical">
      <header class="box-typical-header-sm">Background</header>
      <article class="profile-info-item">
        <header class="profile-info-item-header">
          <i class="font-icon font-icon-notebook-bird"></i>
          Summary
        </header>
        <div class="text-block text-block-typical">
          <p>
            Hi there, I am sinterklaas. I am Challenger division player in league of legends. I have played league of legends from the very beginning and do elo boosting very often. I have guaranteed many promotions and have won over 1.5k boostings.
            If you are searching for a booster, search no longer. I am your man. Your santaclaus…. I will perform so well that you will see at as your Christmas gift.
          </p>
          <p>
            Want to get to a higher division for borders or prizes? Buy a boost in EUW. I will personally guarantee your promotion.
            My main champions are Fiddlesticks, Zed and Lee Sin. However, I do play many other champs in all lanes. My skills are jungling, hard carrying, flanking and ending the game.
          </p>
        </div>
      </article><!--.profile-info-item-->
    </section><!--.box-typical-->
  </div><!--.col- -->

  <div class="col-lg-3 col-lg-pull-6 col-md-6 col-sm-6">
    <section class="box-typical">
      <div class="profile-card">
        <div class="profile-card-photo">
          <img src="/img/booster1.jpg" alt=""/>
        </div>
        <div class="profile-card-name">Sinterklaas</div>
        <div class="profile-card-status">Challenger</div>
        <div class="profile-card-location">EUW Server</div>
        <%= link_to elo_boost_path do %>
        <button type="button" class="btn btn-rounded">Boost me</button>
        <% end %>
      </div><!--.profile-card-->

      <div class="profile-statistic tbl">
        <div class="tbl-row">
          <div class="tbl-cell">
            <b>1.8k</b>
            Wins
          </div>
          <div class="tbl-cell">
            <b>280</b>
            Divisions
          </div>
        </div>
      </div>

    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Most played champions</header>
      <article class="profile-info-item">
        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">232</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Fiddlesticks</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">198</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Zed</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">182</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Lee Sin</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">143</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Master Yi</div>
          </div>
        </section><!--.skill-item-->
      </article><!--.profile-info-item-->
    </section>


  </div><!--.col- -->

  <div class="col-lg-3 col-md-6 col-sm-6">
    <section class="box-typical">
      <header class="box-typical-header-sm">People also viewed</header>
      <div class="friends-list stripped">
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/verstappen">
                  <img src="/img/booster6.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/verstappen">Verstappen</a></p>
                <p class="user-card-row-status">Master - EUW</a></p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/joosta">
                  <img src="/img/booster3.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/joosta">Joosta</a></p>
                <p class="user-card-row-status">Diamond I - NA</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/kerstman">
                  <img src="/img/booster8.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/kerstman">Kerstman</a></p>
                <p class="user-card-row-status">Diamond I - EUW</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/wessex">
                  <img src="/img/booster4.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/wessex">WesseX</a></p>
                <p class="user-card-row-status">Challenger - EUNE</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/elpomponero">
                  <img src="/img/booster5.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/elpomponero">El Pomponero</a></p>
                <p class="user-card-row-status">Challenger - LAN </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Skills</header>
      <article class="profile-info-item">
        <div class="profile-interests">
          <a href="#" class="label label-light-grey">Flanking</a>
          <a href="#" class="label label-light-grey">Midlane</a>
          <a href="#" class="label label-light-grey">Jungle</a>
          <a href="#" class="label label-light-grey">Hard carrying</a>
          <a href="#" class="label label-light-grey">Coaching</a>
          <a href="#" class="label label-light-grey">Ending the game</a>
        </div>
      </article><!--.profile-info-item-->
    </section>
  </div><!--.col- -->
</div><!--.row-->