<div class="row">
  <div class="col-lg-6 col-lg-push-3 col-md-12">

    <section class="box-typical">
      <%= link_to boosters_path do %>
      <header class="box-typical-header-sm">
        Back to boosters
        <div class="slider-arrs">
          <button type="button" class="btn">
            <i class="font-icon font-icon-arrow-left"></i>
          </button>
        </div>
      </header>
    <% end %>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">
        Go to next booster
        <div class="slider-arrs">
          <button type="button" class="posts-slider-prev">
            <i class="font-icon font-icon-arrow-left"></i>
          </button>
          <button type="button" class="posts-slider-next">
            <i class="font-icon font-icon-arrow-right"></i>
          </button>
        </div>
      </header>
    </section><!--.box-typical-->

    <section class="box-typical">
      <header class="box-typical-header-sm">Background</header>
      <article class="profile-info-item">
        <header class="profile-info-item-header">
          <i class="font-icon font-icon-notebook-bird"></i>
          Summary
        </header>
        <div class="text-block text-block-typical">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
        </div>
      </article><!--.profile-info-item-->
    </section><!--.box-typical-->
  </div><!--.col- -->

  <div class="col-lg-3 col-lg-pull-6 col-md-6 col-sm-6">
    <section class="box-typical">
      <div class="profile-card">
        <div class="profile-card-photo">
          <img src="/img/booster1.jpg" alt=""/>
        </div>
        <div class="profile-card-name">Sinterklaas</div>
        <div class="profile-card-status">Challenger</div>
        <div class="profile-card-location">EUW Server</div>
        <button type="button" class="btn btn-rounded">Boost me</button>
      </div><!--.profile-card-->

      <div class="profile-statistic tbl">
        <div class="tbl-row">
          <div class="tbl-cell">
            <b>1.8k</b>
            Wins
          </div>
          <div class="tbl-cell">
            <b>280</b>
            Divisions
          </div>
        </div>
      </div>

    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Most played champions</header>
      <article class="profile-info-item">
        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">232</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Shyvana</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">198</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Fizz</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">182</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Master Yi</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">143</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Talon</div>
          </div>
        </section><!--.skill-item-->
      </article><!--.profile-info-item-->
    </section>


  </div><!--.col- -->

  <div class="col-lg-3 col-md-6 col-sm-6">
    <section class="box-typical">
      <header class="box-typical-header-sm">People also viewed</header>
      <div class="friends-list stripped">
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster6.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name status-online"><a href="#">Verstappen</a></p>
                <p class="user-card-row-status">Master - EUW</a></p>
              </div>
              <div class="tbl-cell tbl-cell-action">
                <a href="#" class="plus-link-circle"><span>&plus;</span></a>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster3.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="#">Joost</a></p>
                <p class="user-card-row-status">Diamond I - EUW</p>
              </div>
              <div class="tbl-cell tbl-cell-action">
                <a href="#" class="plus-link-circle"><span>&plus;</span></a>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster8.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="#">Kerstman</a></p>
                <p class="user-card-row-status">Master - EUW</p>
              </div>
              <div class="tbl-cell tbl-cell-action">
                <a href="#" class="plus-link-circle"><span>&plus;</span></a>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster4.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="#">Douglas Costa</a></p>
                <p class="user-card-row-status">Challenger - NA</p>
              </div>
              <div class="tbl-cell tbl-cell-action">
                <a href="#" class="plus-link-circle"><span>&plus;</span></a>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="#">
                  <img src="/img/booster5.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="#">El Pomponero</a></p>
                <p class="user-card-row-status">Challenger - LAN </p>
              </div>
              <div class="tbl-cell tbl-cell-action">
                <a href="#" class="plus-link-circle"><span>&plus;</span></a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Skills</header>
      <article class="profile-info-item">
        <div class="profile-interests">
          <a href="#" class="label label-light-grey">Flanking</a>
          <a href="#" class="label label-light-grey">Midlane</a>
          <a href="#" class="label label-light-grey">Jungle</a>
          <a href="#" class="label label-light-grey">Hard carrying</a>
          <a href="#" class="label label-light-grey">Coaching</a>
          <a href="#" class="label label-light-grey">Ending the game</a>
        </div>
      </article><!--.profile-info-item-->
    </section>
  </div><!--.col- -->
</div><!--.row-->