<div class="row">
  <div class="col-lg-6 col-lg-push-3 col-md-12">

    <section class="box-typical">
      <%= link_to profiles_path do %>
          <header class="box-typical-header-sm">
            Back to boosters
            <div class="slider-arrs">
              <button type="button" class="btn">
                <i class="font-icon font-icon-arrow-left"></i>
              </button>
            </div>
          </header>
      <% end %>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">
        Go to next booster
        <div class="slider-arrs">
          <button type="button" class="posts-slider-prev">
            <a href="/profiles/joosta"><i class="font-icon font-icon-arrow-left"></i></a>
          </button>
          <button type="button" class="posts-slider-next">
            <a href="/profiles/elpomponero"><i class="font-icon font-icon-arrow-right"></i></a>
          </button>
        </div>
      </header>
    </section><!--.box-typical-->

    <section class="box-typical">
      <header class="box-typical-header-sm">Background</header>
      <article class="profile-info-item">
        <header class="profile-info-item-header">
          <i class="font-icon font-icon-notebook-bird"></i>
          Summary
        </header>
        <div class="text-block text-block-typical">
          <p>
            <em>
              This booster has yet to write a description that describes him/her best.
            </em>
          </p>
        </div>
      </article><!--.profile-info-item-->
    </section><!--.box-typical-->
  </div><!--.col- -->

  <div class="col-lg-3 col-lg-pull-6 col-md-6 col-sm-6">
    <section class="box-typical">
      <div class="profile-card">
        <div class="profile-card-photo">
          <img src="/img/booster4.jpg" alt=""/>
        </div>
        <div class="profile-card-name">WesseX</div>
        <div class="profile-card-status">Challenger</div>
        <div class="profile-card-location">EUNE Server</div>
        <%= link_to elo_boost_path do %>
            <button type="button" class="btn btn-rounded">Boost me</button>
        <% end %>
      </div><!--.profile-card-->

      <div class="profile-statistic tbl">
        <div class="tbl-row">
          <div class="tbl-cell">
            <b>3.8k</b>
            Wins
          </div>
          <div class="tbl-cell">
            <b>441</b>
            Divisions
          </div>
        </div>
      </div>

    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Most played champions</header>
      <article class="profile-info-item">
        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">1232</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Azir</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">392</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Wukong</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">372</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Ezreal</div>
          </div>
        </section><!--.skill-item-->

        <section class="skill-item tbl">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-num">
              <div class="skill-circle skill-circle-num">278</div>
            </div>
            <div class="tbl-cell tbl-cell-txt">Fizz</div>
          </div>
        </section><!--.skill-item-->
      </article><!--.profile-info-item-->
    </section>


  </div><!--.col- -->

  <div class="col-lg-3 col-md-6 col-sm-6">
    <section class="box-typical">
      <header class="box-typical-header-sm">People also viewed</header>
      <div class="friends-list stripped">
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/elpomponero">
                  <img src="/img/booster5.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/elpomponero">El Pomponero</a></p>
                <p class="user-card-row-status">Challenger - LAN </p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/verstappen">
                  <img src="/img/booster6.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/verstappen">Verstappen</a></p>
                <p class="user-card-row-status">Master - EUW</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/joosta">
                  <img src="/img/booster3.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/joosta">Joosta</a></p>
                <p class="user-card-row-status">Diamond I - NA</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/kerstman">
                  <img src="/img/booster8.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/kerstman">Kerstman</a></p>
                <p class="user-card-row-status">Diamond I - EUW</p>
              </div>
            </div>
          </div>
        </article>
        <article class="friends-list-item">
          <div class="user-card-row">
            <div class="tbl-row">
              <div class="tbl-cell tbl-cell-photo">
                <a href="/profiles/sinterklaas">
                  <img src="/img/booster1.jpg" alt="">
                </a>
              </div>
              <div class="tbl-cell">
                <p class="user-card-row-name"><a href="/profiles/sinterklaas">Sinterklaas</a></p>
                <p class="user-card-row-status">Challenger - EUW</a></p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section><!--.box-typical-->
    <section class="box-typical">
      <header class="box-typical-header-sm">Skills</header>
      <article class="profile-info-item">
        <div class="profile-interests">
          <a href="#" class="label label-light-grey">Azir</a>
          <a href="#" class="label label-light-grey">Fast push</a>
          <a href="#" class="label label-light-grey">ADC</a>
          <a href="#" class="label label-light-grey">Jungle</a>
        </div>
      </article><!--.profile-info-item-->
    </section>
  </div><!--.col- -->
</div><!--.row-->