<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h3>
         <img src="/img/114x114.png" height="50" width="50"/> Elo-boost.io
        </h3>
        <p>League of Legends is a registered trademark of Riot Games, Inc.</p>
        <p>We are in no way affiliated with, associated with or endorsed by Riot Games, Inc.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h3>Reviews</h3>
        <div itemscope itemtype="http://schema.org/Product">
          <span itemprop="name">Elo Boost IO </span>
          <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            Rated <span itemprop="ratingValue">4.9</span>/5 based on <span itemprop="reviewCount">3492</span> reviews
          </div>
        </div>
        <img src="/img/fivestar.png" height="50" width="200">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-text">Elo-boost I/O - Copyright ©<%= Date.today.year %></p>
  </div>
</footer>



