
<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
  <ul class="side-menu-list">
    <li class="grey with-sub">
              <span>
                  <i class="font-icon font-icon-dashboard"></i>
                  <span class="lbl"> Boosting </span>
              </span>
      <ul>
        <li><a href="index.html"><span class="lbl">Division boost</span><span class="label label-custom label-pill label-info">Popular</span></a></li>
        <li><a href="side-menu-compact-full.html"><span class="lbl">Wins boost</span></a></li>
        <li><a href="dashboard-addl-menu.html"><span class="lbl">Duo Queue</span></a></li>
        <li><a href="side-menu-avatar.html"><span class="lbl">Placement Matches</span></a></li>
        <li><a href="side-menu-avatar.html"><span class="lbl">Normal draft</span></a></li>
        <li><a href="dark-menu.html"><span class="lbl">LP Boost</span></a></li>
        <li><a href="dark-menu-blue.html"><span class="lbl">Budget boosting</span></a></li>
      </ul>
    </li>

    <li class="red">
      <%= link_to boosters_path do %>
        <i class="font-icon glyphicon glyphicon-send"></i>
        <span class="lbl">Boosters</span>
      <% end %>
    </li>

    <li class="pink-red">

      <%= link_to faqs_path do %>
        <i class="font-icon font-icon-zigzag"></i>
        <span class="lbl">FAQ</span>
      <% end %>
    </li>

    <li class="pink-red">
      <a href="activity.html">
        <i class="font-icon font-icon-zigzag"></i>
        <span class="lbl">Contact</span>
      </a>
    </li>

    <li class="pink-red">
      <a href="activity.html">
        <i class="font-icon font-icon-zigzag"></i>
        <span class="lbl">Activity</span>
      </a>
    </li>

    <li class="pink-red">
      <a href="activity.html">
        <i class="font-icon font-icon-zigzag"></i>
        <span class="lbl">Activity</span>
      </a>
    </li>


    <section>
      <header class="side-menu-title">Tags</header>
      <ul class="side-menu-list">
        <li>
          <a href="#">
            <i class="tag-color green"></i>
            <span class="lbl">League of Legends</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="tag-color grey-blue"></i>
            <span class="lbl">Boosting</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="tag-color red"></i>
            <span class="lbl">TOA</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="tag-color pink"></i>
            <span class="lbl">Safe Payments</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="tag-color orange"></i>
            <span class="lbl">FAQ</span>
          </a>
        </li>
      </ul>
    </section>
</nav><!--.side-menu-->