<div class="container">
  <div class="col-md-4">
    <section class="card box-typical">
      <div class="card-block">
        <div class="col-smd-5">
        <h4 class="with-border m-t-0">Your order:</h4>

              <ul>
                <li><strong class="bg-info"><%= full_title(yield(:title)) %></strong></li>

                <li id="product_type"></li>
                <li id="product1"></li>
                <li id="product2"></li>

          <hr/>
                <li>
                  <strong>
                    Total cost: <span id="cost_eur"> €0.00 </span> (<span id="cost_usd" class="small">$0.00</span>)
                  </strong>
                </li>
               </ul>
          <hr/>

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="upload" value="1">
            <input type="hidden" name="business" value="<%= ENV['GMAIL_USERNAME_DEV'] %>">
            <input type="hidden" id="product_name" name="item_name_1" value="">
            <input type="hidden" id="total_cost_eur" name="amount_1" value="">
            <input type="hidden" name="currency_code" value="the currency code">
            <input type="hidden" name="lc" value="if you dont need delete">
            <input type="hidden" name="shopping_url" value="#">
            <input type="hidden" name="retun" value="/success">
            <input type="hidden" name="cancel_return" value="#">
            <button type="submit" name="submit" class="btn btn-primary btn-purchase center-block" id="purchase">
              <i class="fa fa-paypal icon-white"> Confirm & Pay</i>
            </button>
          </form>


          <hr/>
              <div class="text-center">
                <img src="/img/moneyback.png" class="img-responsive" height="110" width="250"><br/><br/>
                <img src="/img/paypal_badges.png" class="img-responsive" height="30" width="300"><br/>
              </div>
         </div>
       </div>
   </section>
  </div>
</div>

