<div class="container-fluid">
  <header class="section-header">
    <div class="tbl">
      <div class="tbl-row">
        <div class="tbl-cell">
          <h3>Division boost</h3>
          <ol class="breadcrumb breadcrumb-simple">
            <li><a href="#">Leauge of Legends</a></li>
            <li><a href="#">Boosting</a></li>
            <li class="active">Division boosting</li>
          </ol>
        </div>
      </div>
    </div>
  </header>

  <section class="tabs-section">
    <div class="tabs-section-nav tabs-section-nav-icons">
      <div class="tbl">
        <ul class="nav" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#tabs-1-tab-1" role="tab" data-toggle="tab">
									<span class="nav-link-in">
										<i class="font-icon font-icon-cogwheel"></i>
										Division boost
									</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-tab-2" role="tab" data-toggle="tab">
									<span class="nav-link-in">
										<span class="glyphicon glyphicon-music"></span>
										Win boost
									</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-tab-3" role="tab" data-toggle="tab">
									<span class="nav-link-in">
										<i class="font-icon font-icon-cogwheel"></i>
										Duo Queue
									</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-tab-4" role="tab" data-toggle="tab">
									<span class="nav-link-in">
										<i class="font-icon font-icon-users"></i>
										Placement matches
									</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-tab-5" role="tab" data-toggle="tab">
									<span class="nav-link-in">
										<i class="font-icon font-icon-home"></i>
										Normal draft
									</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-tab-6" role="tab" data-toggle="tab">
									<span class="nav-link-in">
										<i class="glyphicon glyphicon-usd"></i>
										Budget boosting
									</span>
            </a>
          </li>
        </ul>
      </div>
    </div><!--.tabs-section-nav-->

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="tabs-1-tab-1">
        <section class="card box-typical-full-height">
          <div class="card-block">
            <h5 class="with-border m-t-0">Division boost</h5>
            <div class="col-md-3">
              <div class="row">
                <label>Choose your current division</label>
                <select class="select2">
                  <optgroup label="Bronze division">
                    <option data-photo="img/photo-64-1.jpg">Bronze V</option>
                    <option data-photo="img/photo-64-1.jpg">Bronze IV</option>
                    <option data-photo="img/photo-64-1.jpg">Bronze III</option>
                    <option data-photo="img/photo-64-1.jpg">Bronze II</option>
                    <option data-photo="img/photo-64-1.jpg">Bronze I</option>
                  </optgroup>
                  <optgroup label="Silver division">
                    <option data-photo="img/photo-64-1.jpg">Silver V</option>
                    <option data-photo="img/photo-64-1.jpg">Silver IV</option>
                    <option data-photo="img/photo-64-1.jpg">Silver III</option>
                    <option data-photo="img/photo-64-1.jpg">Silver II</option>
                    <option data-photo="img/photo-64-1.jpg">Silver I</option>
                  </optgroup>
                  <optgroup label="Gold division">
                    <option data-photo="img/photo-64-1.jpg">Gold V</option>
                    <option data-photo="img/photo-64-1.jpg">Gold IV</option>
                    <option data-photo="img/photo-64-1.jpg">Gold III</option>
                    <option data-photo="img/photo-64-1.jpg">Gold II</option>
                    <option data-photo="img/photo-64-1.jpg">Gold I</option>
                  </optgroup>
                  <optgroup label="Platinum division">
                    <option data-photo="img/photo-64-1.jpg">Platinum V</option>
                    <option data-photo="img/photo-64-1.jpg">Platinum IV</option>
                    <option data-photo="img/photo-64-1.jpg">Platinum III</option>
                    <option data-photo="img/photo-64-1.jpg">Platinum II</option>
                    <option data-photo="img/photo-64-1.jpg">Platinum I</option>
                  </optgroup>
                  <optgroup label="Diamond division">
                    <option data-photo="img/photo-64-1.jpg">Diamond V</option>
                    <option data-photo="img/photo-64-1.jpg">Diamond IV</option>
                    <option data-photo="img/photo-64-1.jpg">Diamond III</option>
                    <option data-photo="img/photo-64-1.jpg">Diamond II</option>
                    <option data-photo="img/photo-64-1.jpg">Diamond I</option>
                  </optgroup>
                  <optgroup label="Master division">
                    <option data-photo="img/photo-64-1.jpg">Master</option>
                  </optgroup>
                  <optgroup label="Challenger division">
                    <option data-photo="img/photo-64-1.jpg">Challenger</option>
                  </optgroup>
                </select>

                <label>Choose your current League Points</label>
                <select class="select2">
                  <option data-photo="img/photo-64-1.jpg">0-20 LP</option>
                  <option data-photo="img/photo-64-1.jpg">21-40 LP</option>
                  <option data-photo="img/photo-64-1.jpg">41-60 LP</option>
                  <option data-photo="img/photo-64-1.jpg">61-80 LP</option>
                  <option data-photo="img/photo-64-1.jpg">81-100 LP</option>
                </select>
              </div>
              <br/>
              <br/>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label>Choose your desired division</label>
                <select class="select2">
                  <optgroup label="Challenger division">
                    <option data-photo="img/photo-64-1.jpg">Challenger</option>
                  </optgroup>
                  <optgroup label="Master division">
                    <option data-photo="img/photo-64-1.jpg">Master</option>
                  </optgroup>
                  <optgroup label="Diamond division">
                    <option data-photo="img/photo-64-1.jpg">Diamond I</option>
                    <option data-photo="img/photo-64-1.jpg">Diamond II</option>
                    <option data-photo="img/photo-64-1.jpg">Diamond III</option>
                    <option data-photo="img/photo-64-1.jpg">Diamond IV</option>
                    <option data-photo="img/photo-64-1.jpg">Diamond V</option>
                  </optgroup>
                  <optgroup label="Platinum division">
                    <option data-photo="img/photo-64-1.jpg">Platinum I</option>
                    <option data-photo="img/photo-64-1.jpg">Platinum II</option>
                    <option data-photo="img/photo-64-1.jpg">Platinum III</option>
                    <option data-photo="img/photo-64-1.jpg">Platinum IV</option>
                    <option data-photo="img/photo-64-1.jpg">Platinum V</option>
                  </optgroup>
                  <optgroup label="Gold division">
                    <option data-photo="img/photo-64-1.jpg">Gold I</option>
                    <option data-photo="img/photo-64-1.jpg">Gold II</option>
                    <option data-photo="img/photo-64-1.jpg">Gold III</option>
                    <option data-photo="img/photo-64-1.jpg">Gold IV</option>
                    <option data-photo="img/photo-64-1.jpg">Gold V</option>
                  </optgroup>
                  <optgroup label="Silver division">
                    <option data-photo="img/photo-64-1.jpg">Silver I</option>
                    <option data-photo="img/photo-64-1.jpg">Silver II</option>
                    <option data-photo="img/photo-64-1.jpg">Silver III</option>
                    <option data-photo="img/photo-64-1.jpg">Silver IV</option>
                    <option data-photo="img/photo-64-1.jpg">Silver V</option>
                  </optgroup>
                  <optgroup label="Bronze division">
                    <option data-photo="img/photo-64-1.jpg">Bronze I</option>
                    <option data-photo="img/photo-64-1.jpg">Bronze II</option>
                    <option data-photo="img/photo-64-1.jpg">Bronze III</option>
                    <option data-photo="img/photo-64-1.jpg">Bronze IV</option>
                    <option data-photo="img/photo-64-1.jpg">Bronze V</option>
                  </optgroup>
                </select>
                <br/>
                <br/>
              </div>
            </div>
        </section
      </div><!--.tab-pane-->


      <div role="tabpanel" class="tab-pane fade" id="tabs-1-tab-2">
        <section class="card box-typical-full-height">
          <div class="card-block">
            <h5 class="with-border m-t-0">Division boost</h5>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" id="range-slider-1" name="example_name" value="" />
                  </div>
                </div>
              </div>


            </div><!--.tab-pane-->
            <div role="tabpanel" class="tab-pane fade" id="tabs-1-tab-3">Tab 3</div><!--.tab-pane-->
            <div role="tabpanel" class="tab-pane fade" id="tabs-1-tab-4">Tab 4</div><!--.tab-pane-->
            <div role="tabpanel" class="tab-pane fade" id="tabs-1-tab-5">Tab 5</div><!--.tab-pane-->
            <div role="tabpanel" class="tab-pane fade" id="tabs-1-tab-6">Tab 6</div><!--.tab-pane-->
          </div><!--.tab-content-->
        </section><!--.tabs-section-->

      </div>
