<%= provide(:title, 'Boosters') %>
<div class="container-fluid">
  <div class="row card-user-grid">
    <div class="col-sm-6 col-md-4 col-xl-3">
      <article class="card-user box-typical">
        <div class="card-user-photo">
          <img src="/img/booster1.jpg" alt="">
        </div>
        <div class="card-user-name">Sinterklaas</div>
        <div class="card-user-status">Challenger</div>
        <a href="/profile/sinterklaas" class="btn btn-rounded">View profile</a>
        <div class="card-user-social">
         <p>EUW Server</p>
        </div>
        <!--<div class="card-user-info-row">
          <i class="font-icon font-icon-import"></i>
          Imported from Github
        </div>
        <div class="card-user-info-row">
          <i class="font-icon font-icon-user"></i>
          By Wayne Gray
        </div>-->
      </article><!--.card-user-->
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <article class="card-user box-typical">
        <div class="card-user-photo">
          <img src="/img/booster2.jpg" alt="">
        </div>
        <div class="card-user-name">Douglas Diaz</div>
        <div class="card-user-status">Challenger</div>
        <a href="#" class="btn btn-rounded">View profile</a>
        <div class="card-user-social">
          <p>EUW</p>
        </div>
        <!--<div class="card-user-info-row">
          <i class="font-icon font-icon-import"></i>
          Imported from Github
        </div>
        <div class="card-user-info-row">
          <i class="font-icon font-icon-user"></i>
          By Wayne Gray
        </div>-->
      </article><!--.card-user-->
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <article class="card-user box-typical">
        <div class="card-user-photo">
          <img src="/img/booster3.jpg" alt="">
        </div>
        <div class="card-user-name">Joost</div>
        <div class="card-user-status">Diamond I</div>
        <a href="#" class="btn btn-rounded">View profile</a>
        <div class="card-user-social">
         <p>NA Server</p>
        </div>
        <!--<div class="card-user-info-row">
          <i class="font-icon font-icon-import"></i>
          Imported from Github
        </div>
        <div class="card-user-info-row">
          <i class="font-icon font-icon-user"></i>
          By Wayne Gray
        </div>-->
      </article><!--.card-user-->
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <article class="card-user box-typical">
        <div class="card-user-photo">
          <img src="/img/booster4.jpg" alt="">
        </div>
        <div class="card-user-name">Douglas Costa</div>
        <div class="card-user-status">Challenger</div>
        <a href="#" class="btn btn-rounded">View profile</a>
        <div class="card-user-social">
          <p>EUNE Server</p>
        </div>
        <!--<div class="card-user-info-row">
          <i class="font-icon font-icon-import"></i>
          Imported from Github
        </div>
        <div class="card-user-info-row">
          <i class="font-icon font-icon-user"></i>
          By Wayne Gray
        </div>-->
      </article><!--.card-user-->
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <article class="card-user box-typical">
        <div class="card-user-photo">
          <img src="/img/booster5.jpg" alt="">
        </div>
        <div class="card-user-name">El Pomponero</div>
        <div class="card-user-status">Challenger</div>
        <a href="#" class="btn btn-rounded">View profile</a>
        <div class="card-user-social">
          <p>LAN Server</p>
        </div>
        <!--<div class="card-user-info-row">
          <i class="font-icon font-icon-import"></i>
          Imported from Github
        </div>
        <div class="card-user-info-row">
          <i class="font-icon font-icon-user"></i>
          By Wayne Gray
        </div>-->
      </article><!--.card-user-->
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <article class="card-user box-typical">
        <div class="card-user-photo">
          <img src="/img/booster6.jpg" alt="">
        </div>
        <div class="card-user-name">Verstappen</div>
        <div class="card-user-status">Master</div>
        <a href="#" class="btn btn-rounded">View profile</a>
        <div class="card-user-social">
          <p>EUW Server </p>
        </div>
        <!--<div class="card-user-info-row">
          <i class="font-icon font-icon-import"></i>
          Imported from Github
        </div>
        <div class="card-user-info-row">
          <i class="font-icon font-icon-user"></i>
          By Wayne Gray
        </div>-->
      </article><!--.card-user-->
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <article class="card-user box-typical">
        <div class="card-user-photo">
          <img src="/img/booster7.jpg" alt="">
        </div>
        <div class="card-user-name">Efe from Power</div>
        <div class="card-user-status">Challenger</div>
        <a href="#" class="btn btn-rounded">View profile</a>
        <div class="card-user-social">
          <p>NA Server</p>
        </div>
        <!--<div class="card-user-info-row">
          <i class="font-icon font-icon-import"></i>
          Imported from Github
        </div>
        <div class="card-user-info-row">
          <i class="font-icon font-icon-user"></i>
          By Wayne Gray
        </div>-->
      </article><!--.card-user-->
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <article class="card-user box-typical">
        <div class="card-user-photo">
          <img src="/img/booster8.jpg" alt="">
        </div>
        <div class="card-user-name">Kerstman</div>
        <div class="card-user-status">Diamond I</div>
        <a href="#" class="btn btn-rounded">View profile</a>
        <div class="card-user-social">
          <p>EUW Server</p>
        </div>
        <!--<div class="card-user-info-row">
          <i class="font-icon font-icon-import"></i>
          Imported from Github
        </div>
        <div class="card-user-info-row">
          <i class="font-icon font-icon-user"></i>
          By Wayne Gray
        </div>-->
      </article><!--.card-user-->
    </div>
  </div><!--.card-user-grid-->
</div><!--.container-fluid-->