<%= provide(:title, 'Budget Boosting') %>

<div class="row">
  <div class="container">
    <div class="col-md-7">
      <section class="card box-typical">
        <div class="card-block">
          <h5 class="with-border">Budget boost</h5>
           <div class="col-md-6 center-block">
            <div class="row">
              <div class="form-group text-center">
                <label class="label label-success">Choose your budget</label><br/><br/>
                  <div class="input-group-addon">€</div>
                  <input type="number" min="10" maxlength="7" step="10"
                         class="form-control" id="input-budget" placeholder="Amount" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                                                                                     onchange="budCalculate(this.value)">
                  <div class="input-group-addon">.00</div>
              </div> <!-- end form group -->
            </div>
          </div>
          <div class="row">
            <div class="row"></div>
          </div>
        </div>
      </section
    </div>
  </div>
  <%= render 'shared/payments' %>
</div>

<script>
  function budCalculate(budget_amount) {
    var budget = 0;
    console.log(typeof budget_amount);
    budget = parseFloat(budget_amount);
    cost_eur.innerHTML = "€"+(budget).toFixed(2);
    cost_usd.innerHTML = "$"+(budget * 1.13 ).toFixed(2);
    budget_eur.innerHTML = "<strong class='bg-info'>Chosen budget:</strong> €" + (budget).toFixed(2);
    budget_usd.innerHTML = "($" + (budget * 1.13 ).toFixed(2) + ")";
    return budget;
  }
</script>

