<%= provide(:title, 'Division Boost') %>
<div class="row">
<div class="container">
<div class="col-md-7">
<section class="card box-typical">
  <div class="card-block">
    <h5 class="with-border m-t-0">Division boost</h5>
    <div class="col-md-5">
      <div class="row">
        <div class="form-group float-left">
        <label>Choose your current division</label>
          <%= image_tag('bronze_5.png', size: '180x180') %>
        <select class="select2">
          <optgroup label="Bronze division">
            <option data-photo="img/photo-64-1.jpg">Bronze V</option>
            <option data-photo="img/photo-64-1.jpg">Bronze IV</option>
            <option data-photo="img/photo-64-1.jpg">Bronze III</option>
            <option data-photo="img/photo-64-1.jpg">Bronze II</option>
            <option data-photo="img/photo-64-1.jpg">Bronze I</option>
          </optgroup>
          <optgroup label="Silver division">
            <option data-photo="img/photo-64-1.jpg">Silver V</option>
            <option data-photo="img/photo-64-1.jpg">Silver IV</option>
            <option data-photo="img/photo-64-1.jpg">Silver III</option>
            <option data-photo="img/photo-64-1.jpg">Silver II</option>
            <option data-photo="img/photo-64-1.jpg">Silver I</option>
          </optgroup>
          <optgroup label="Gold division">
            <option data-photo="img/photo-64-1.jpg">Gold V</option>
            <option data-photo="img/photo-64-1.jpg">Gold IV</option>
            <option data-photo="img/photo-64-1.jpg">Gold III</option>
            <option data-photo="img/photo-64-1.jpg">Gold II</option>
            <option data-photo="img/photo-64-1.jpg">Gold I</option>
          </optgroup>
          <optgroup label="Platinum division">
            <option data-photo="img/photo-64-1.jpg">Platinum V</option>
            <option data-photo="img/photo-64-1.jpg">Platinum IV</option>
            <option data-photo="img/photo-64-1.jpg">Platinum III</option>
            <option data-photo="img/photo-64-1.jpg">Platinum II</option>
            <option data-photo="img/photo-64-1.jpg">Platinum I</option>
          </optgroup>
          <optgroup label="Diamond division">
            <option data-photo="img/photo-64-1.jpg">Diamond V</option>
            <option data-photo="img/photo-64-1.jpg">Diamond IV</option>
            <option data-photo="img/photo-64-1.jpg">Diamond III</option>
            <option data-photo="img/photo-64-1.jpg">Diamond II</option>
            <option data-photo="img/photo-64-1.jpg">Diamond I</option>
          </optgroup>
          <optgroup label="Master division">
            <option data-photo="img/photo-64-1.jpg">Master</option>
          </optgroup>
          <optgroup label="Challenger division">
            <option data-photo="img/photo-64-1.jpg">Challenger</option>
          </optgroup>
        </select>
        </div> <!-- end form group -->
        <div class="float-left">
        <label>Choose your current League Points</label>
        <select class="select2">
          <option data-photo="img/photo-64-1.jpg">0-20 LP</option>
          <option data-photo="img/photo-64-1.jpg">21-40 LP</option>
          <option data-photo="img/photo-64-1.jpg">41-60 LP</option>
          <option data-photo="img/photo-64-1.jpg">61-80 LP</option>
          <option data-photo="img/photo-64-1.jpg">81-100 LP</option>
        </select>
      </div>
        </div>
      <br/>
      <br/>
    </div>

    <div class="row">
      <div class="form-group">
      <div class="col-md-5 float-right">
        <div class="row">
        <label>Choose your desired division</label>
        <%= image_tag('platinum_2.png', size: '180x180', class: 'float-left') %>
        <select class="select2">
          <optgroup label="Challenger division">
            <option data-photo="img/photo-64-1.jpg">Challenger</option>
          </optgroup>
          <optgroup label="Master division">
            <option data-photo="img/photo-64-1.jpg">Master</option>
          </optgroup>
          <optgroup label="Diamond division">
            <option data-photo="img/photo-64-1.jpg">Diamond I</option>
            <option data-photo="img/photo-64-1.jpg">Diamond II</option>
            <option data-photo="img/photo-64-1.jpg">Diamond III</option>
            <option data-photo="img/photo-64-1.jpg">Diamond IV</option>
            <option data-photo="img/photo-64-1.jpg">Diamond V</option>
          </optgroup>
          <optgroup label="Platinum division">
            <option data-photo="img/photo-64-1.jpg">Platinum I</option>
            <option data-photo="img/photo-64-1.jpg">Platinum II</option>
            <option data-photo="img/photo-64-1.jpg">Platinum III</option>
            <option data-photo="img/photo-64-1.jpg">Platinum IV</option>
            <option data-photo="img/photo-64-1.jpg">Platinum V</option>
          </optgroup>
          <optgroup label="Gold division">
            <option data-photo="img/photo-64-1.jpg">Gold I</option>
            <option data-photo="img/photo-64-1.jpg">Gold II</option>
            <option data-photo="img/photo-64-1.jpg">Gold III</option>
            <option data-photo="img/photo-64-1.jpg">Gold IV</option>
            <option data-photo="img/photo-64-1.jpg">Gold V</option>
          </optgroup>
          <optgroup label="Silver division">
            <option data-photo="img/photo-64-1.jpg">Silver I</option>
            <option data-photo="img/photo-64-1.jpg">Silver II</option>
            <option data-photo="img/photo-64-1.jpg">Silver III</option>
            <option data-photo="img/photo-64-1.jpg">Silver IV</option>
            <option data-photo="img/photo-64-1.jpg">Silver V</option>
          </optgroup>
          <optgroup label="Bronze division">
            <option data-photo="img/photo-64-1.jpg">Bronze I</option>
            <option data-photo="img/photo-64-1.jpg">Bronze II</option>
            <option data-photo="img/photo-64-1.jpg">Bronze III</option>
            <option data-photo="img/photo-64-1.jpg">Bronze IV</option>
            <option data-photo="img/photo-64-1.jpg">Bronze V</option>
          </optgroup>
        </select>
        <br/>
        <br/>
        </div>
      </div>
     </div>
  </div>
</section
</div>
</div>

<%= render 'shared/payments' %>

</div>
