<%= provide(:title, 'Division Boost') %>
<div class="row">
<div class="container">
<div class="col-md-7">
<section class="card box-typical">
  <div class="card-block">
    <h5 class="with-border m-t-0">Division boost</h5>
    <div class="col-md-5">
      <div class="row">
        <div class="form-group float-left">
        <label class="label label-success">Choose your current division</label>
          <%= image_tag('bronze_5.png', size: '180x180') %>
        <select class="select2" id="current_division">
          <optgroup label="Bronze division">
            <option value="0">Bronze V</option>
            <option value="10">Bronze IV</option>
            <option value="15">Bronze III</option>
            <option value="15.2">Bronze II</option>
            <option value="15.2">Bronze I</option>
          </optgroup>
          <optgroup label="Silver division">
            <option value="15.2">Silver V</option>
            <option value="19.95">Silver IV</option>
            <option value="20.9">Silver III</option>
            <option value="20.9">Silver II</option>
            <option value="20.9">Silver I</option>
          </optgroup>
          <optgroup label="Gold division">
            <option value="24.7">Gold V</option>
            <option value="25.65">Gold IV</option>
            <option value="26.60">Gold III</option>
            <option value="27.55">Gold II</option>
            <option value="29.45">Gold I</option>
          </optgroup>
          <optgroup label="Platinum division">
            <option value="35.15">Platinum V</option>
            <option value="38">Platinum IV</option>
            <option value="42.75">Platinum III</option>
            <option value="59.85">Platinum II</option>
            <option value="59.85">Platinum I</option>
          </optgroup>
          <optgroup label="Diamond division">
            <option value="76">Diamond V</option>
            <option value="95">Diamond IV</option>
            <option value="114">Diamond III</option>
            <option value="133">Diamond II</option>
            <option value="190">Diamond I</option>
          </optgroup>
          <optgroup label="Master division">
            <option value="500">Master</option>
          </optgroup>
          <optgroup label="Challenger division">
            <option value="3623">Challenger</option>
          </optgroup>
        </select>
        </div> <!-- end form group -->
        </div>
    </div>

    <div class="row">
      <div class="form-group">
      <div class="col-md-5 float-right">
        <div class="row">
        <label class="label label-success">Choose your desired division</label>
        <%= image_tag('platinum_2.png', size: '180x180', class: 'float-left') %>
        <select class="select2" id="desired_division" onkeyup="this.value = minmax(15, 5000)" onchange="divCalculate(this.value)" autofocus>
          <optgroup label="Challenger division">
            <option value="4999">Challenger</option>
          </optgroup>
          <optgroup label="Master division">
            <option value="1630.8">Master</option>
          </optgroup>
          <optgroup label="Diamond division">
            <option value="1130.8">Diamond I</option>
            <option value="940.8">Diamond II</option>
            <option value="807.8">Diamond III</option>
            <option value="693.8">Diamond IV</option>
            <option value="598.8">Diamond V</option>
          </optgroup>
          <optgroup label="Platinum division">
            <option value="522.8">Platinum I</option>
            <option value="462.95">Platinum II</option>
            <option value="403.1">Platinum III</option>
            <option value="360.35">Platinum IV</option>
            <option value="322.35">Platinum V</option>
          </optgroup>
          <optgroup label="Gold division">
            <option value="287.2">Gold I</option>
            <option value="257.75">Gold II</option>
            <option value="230.2">Gold III</option>
            <option value="203.6">Gold IV</option>
            <option value="177.95">Gold V</option>
          </optgroup>
          <optgroup label="Silver division">
            <option value="153.25">Silver I</option>
            <option value="132.35">Silver II</option>
            <option value="111.45">Silver III</option>
            <option value="90.55">Silver IV</option>
            <option value="70.6">Silver V</option>
          </optgroup>
          <optgroup label="Bronze division">
            <option value="55.4">Bronze I</option>
            <option value="40.2">Bronze II</option>
            <option value="25">Bronze III</option>
            <option value="10">Bronze IV</option>
            <option value="0">Bronze V</option>
          </optgroup>
        </select>
        </div>
      </div>
     </div>
  </div>
</section>
</div>
</div>

<%= render 'shared/payments' %>

</div>

<script>
function divCalculate(desired_division) {
  var current_division = $('select[id=current_division]').val();
  cost_eur.innerHTML = "€" + ((desired_division) - (current_division)).toFixed(2);
  cost_usd.innerHTML = "$" + ((desired_division) - (current_division) * 1.13 ).toFixed(2);
}
</script>

