<div class="box-typical box-typical-padding">
  <h1 class="text-center">F.A.Q.</h1>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>Can I contact the booster outside the game?</p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Yes.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>Can I spectate the booster and chat with him?<p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Yes. You can spectate him with a second account or through a scouter. If you want to chat with the
          booster in-game, always start your message with 112. This way our booster will know that you are
          the one that ordered the boost. This also ensures that the booster will not talk to other people.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          Can I play duo with my booster?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          No, to ensure fast and efficient League boosting, we do not allow for duo games. If you would like to buy a
          duo queue service, you can order duo boosts. You can also buy League coaching services if you
          really want to get better.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <br/><br/>
</div><!--.box-typical-->
