<div class="box-typical box-typical-padding">
  <h1 class="text-center">F.A.Q.</h1>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>Can I buy a boost only for promotion games?</p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          No. We don’t play promotion games only.We offer two ways of playing these games: the first option is a
          guaranteed promotion to a higher tier with the league division boosting service,
          the second option is to buy a certain amount of wins, this option does however not guarantee a promotion.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>What servers do you function on?<p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          At the moment you can place an order for: EUW, EUNE, NA, LAN and LAS. We are searching
          for boosters in other servers. If you want to boost or know someone who can boost in these servers,
          do not hesitate to contact us.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          You don’t operate on my server, when can I expect this to change?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          We are continuously searching for new boosters in every server. Adding new servers depends
          on how many new boosters we can get and if we can efficiently boost people who place an order in these servers.
          We will not add new servers as long as we are not sure whether we can guarantee the same quality of service.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          I’ve made a mistake in my order and picked the wrong server, what shall I do?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Contact our customer service and we will resolve this issue for you.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          I get less than 12 league points each game, can I apply for league division boosting?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          No, this is due to the fact that players with low MMR can get stuck at 99 points.
          We only accept people who earn at least 12 points. If we see that you have applied for
          this boost and do not receive 12 points,
          we will convert your boost to net win boosts for the amount you have paid.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          I would like to become a booster, what can I do?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Contact our customer service and ask for the recruitment department. They will ask specific information
          from you and give additional information about the payment structure.
          Remember that we only recruit Diamond 1, Master and Challenger tier players.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          I have a question which I can’t find in the FAQ, how can I ask it?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Contact our customer support and ask your question. We will try to answer it as soon as possible.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <br/><br/>
</div><!--.box-typical-->
