<div class="box-typical box-typical-padding">
  <h1 class="text-center">F.A.Q.</h1>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>I have completed a payment, what happens next?</p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          If you have an account you will get a confirmation. If you are not registered yet you will be asked
          to create an account. We need to get your League account information through your Elo-Boost i/o account to
          ensure safety and security. After we have your login information we will send your order to our
          League boosting manager. Depending on your order he will assign it to the best possible booster for this order.
          This means that he will look at availability, tier etc. to ensure a fast en efficient boost.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>I Paid for the League boosting service, but the league/division differs on my aacount from the
          league/division that I mentioned in the order, what now?<p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          We will change your order details and the order will continue as a budget boost: the amount you have paid will
          be calculated for your new rank. You will be boosted worth exactly that amount.
          If you prefer, you can also cancel your boost and re-order.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          Your prices are in Euros, can I pay with a different currency?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Yes, the payment system will automatically convert to your local currency.
          I don’t have a paypal account, can I use a different payment method?
          Unfortunately we are supporting only PayPal at the moment. We are working on adding multiple other
          payment methods, but this will take some time. Note that creating a PayPal account is free and you can
          deposit money with almost every payment method to your PayPal account.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          I paid for promotion from the fifth to fourth division, but the booster jumped to division three, do I have to pay extra?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          No, we do not account for jumps in division. This means that you neither pay more nor less when you jump a division.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <br/><br/>
</div><!--.box-typical-->
