<div class="box-typical box-typical-padding">
  <h1 class="text-center">F.A.Q.</h1>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>How many boosters will play on my account?</p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Most of the time only 1. However, our system is developed in a way to finish boosts as fast as possible.
          This means that sometimes multiple players will play on your account to give you fast results.
          For example if you order a boost from bronze to master, a diamond 1 booster will do the boost from bronze
          to gold. After that, a Master or Challenger tier booster will take over to get you the best results.
          If a booster locks your account and cannot play due to an emergency, he will be replaced by another to
          ensure your order is completed faster.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>Can the boosters play with the champion or role that I want?<p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          This depends on your order. If you want to get into Master or Challenger tier, it will be difficult as
          these boosters perform best with their own mains. If you want a boost in bronze or silver
          it is possible to choose a champ. However it is not guaranteed that the booster will play this champ
          as it depends on bans and picks in both teams..
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          Can I watch the games performed during the League boosting service?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Yes, you can use your own smurf account or online scouters to watch it.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          My booster isn’t doing as well as I would like him to, can I get different one?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Yes, contact our customer support and we will change your booster.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          No games have been played on my account for hours now, why does this happen?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Elo-boost i/o uses 100% manually playing players to do complete your order.
          No bots, hacks, cheats, scripts, just straight up skilled players.
          When you order from us, we assign 1 booster to your account.
          Please keep in mind that this is a normal human being, with a life as well.
          Throughout a day, he should put in some hours, and he should play.
          There are tons of factors that can play into account, that you must keep in mind.
          We do everything we can to deliver as speedy boosts as possible, but sometimes it will take a little longer,
          due to unforeseen circumstances, bad days, sickness, real life events and so on.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          How long will you work on my account to get my desired division?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          It depends on several factors. First of all, the boosts are conducted by real people, so they have a normal
          life as well and have to sleep and eat. But you can assume that approx. 10 to 12 games will be played a day,
          depending on the amount of orders and availability of our boosters. Sometimes this can take a couple days
          and sometimes it can be done under 24 hours.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          Can I play on my account while you’re working on it?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Yes, but you have to check if a booster isn’t playing at that moment. After you’ve made sure that no booster
          is playing on your account, you can play yourself. Remember that you can play all game modes
          except ranked solo or duo queue 5v5! Every ranked game you play during a boost will cost you an
          entire division! This is because MMR can dramatically decrease and our boosters will have to spend much more
          time to get to your desired tier.
          Playing a ranked game during boosting is at your own risk and no refunds will be given for this mistake!
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          What are gifts and why are they given to the boosters?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Gifts are extra money for the boosters. Gifts are given out by you and they cost you extra money.
          You can reward the booster for multiple reasons, for example a lot of wins in a row, high scores,
          games with your favorite champion, or games in your favorite role.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          I paid for 1 division, but the booster jumped one extra divison, do I have to pay extra?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          No, we do not account for jumps in division.
          This means that you neither pay more or lesswhen you jump a division.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <br/><br/>
</div><!--.box-typical-->
