<div class="box-typical box-typical-padding">
  <h1 class="text-center">F.A.Q.</h1>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>How does this League of Legends boosting service work?</p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Our League of Legends boosting service is very simple: you pay us to improve your rank or MMR in ranked games.
          Once you have selected your League boosting method, you will have to confirm and pay for your order.
          When we receive your payment and user information, one of our professional boosters will start to play on
          your account until your ‘order’ is completed.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>What division and tier are your League of Legends boosters?<p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          We only take Diamond 1 and higher boosters for our boosting service.
          The main boosters are a Master tier and Challenger tier player.
          They are also the owners of this website and will do their utmost best to achieve whatever rank you desire.
          All of our players have the experience and motivation required to guarantee an unmatched
          quality and speed you'll only find with us.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <hr class="dashed margin-4"/>
  <div class="row">
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">Q</div>
        <p>
          How can I trust ELO-BOOST I/O?
        </p>
      </article>
    </div>
    <div class="col-md-6">
      <article class="faq-item">
        <div class="faq-item-circle">A</div>
        <p>
          Trust is something you have to earn, and at ELO-BOOST I/O you are at the right place.
          This website is created by a Master tier and an Challenger tier player who play League every single day.
          We have done many boosts and at some point had to process 6 orders a day. We give a 100% money-back guarantee
          when the desired rank is not achieved by our boosters.
          Our connection is SSL certified (see green lock next to URL), which means that your information is in safe hands.
          You can also take a look at our review page to see what other people have to say about our services.
        </p>
      </article>
    </div>
  </div><!--.row-->
  <br/><br/>
</div><!--.box-typical-->
